# /etc/systemd/system/transit_folderMonDaily.service

[Unit]
Description=Monitors the TransitMY smb share, and increments a file-based counter. Counter for daily sync.

[Service]
ExecStart=/home/kubuntu/scripts/transitNew-transitOld/inotifyScript.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
